input[type=date]
  width: 211.2px

textarea
  width: 216px
  height: 320px
  resize: none

.sidebar
  background: #2F545A!important

.sidebar .header
  height: 30px!important

#left-nav a
  cursor: pointer

dialog#reportDialog
  width: 960px
  height: 700px
  border: 0

dialog#progressDialog
  width: 500px
  height: 60px
  text-align: center
  border: 0
  border-top: 2px solid #ff6437

dialog::backdrop
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.8)

.button-error
  background: rgb(202, 60, 60)
